<p id="notice"><%= notice %></p>

<p>
  <strong>Tags:</strong>
  <%= @tag.tag %> 
</p>
<%= link_to 'Destroy', {controller: "tags", action: "destroy"}, method: :delete,
  id:@tag%>
<%= link_to 'Back', {controller: "tags", action: "index"}%>
