<div class="col-md-12">
    <div class="col-md-6">
        <%= form_for @picture, url: {controller: "pictures", action: "create"} do |f|%>
            <div class="input-group input-group-lg">
		            <span class="input-group-addon">File</span>
		            <%= f.text_field :url, class: "form-control", placeholder: "Paste image url here",id: "img-url"%>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="browse_button">Browse</button>
                </span>
	          </div>

            <input type="file" id="file" style="display:none;"> </input>
            
            <br/>
            <div class="input-group input-group-lg">
		            <span class="input-group-addon">Tags</span>
                <%= text_field_tag :tags_string,nil, class: "form-control", id: "tags2", placeholder: "Tags"%>
	          </div>
            <br/>
        <% end %>
        <button class="btn btn-default" type="button">UPLOAD</button>
    </div>
    <div class="col-md-6">
        <img src="/assets/noimage.jpg" id="img-preview" style="width: 80%;"/>
    </div>
</div>
<script type="text/javascript">
 $(document).ready(function(){
     $("#browse_button").click(function(){
         $("#file").click();
     });
 });
</script>
