// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.item { width: 50px;  }
//.item.w2 { width: 50%; }

#container {
 width: 100%;
 margin: auto;
}

.item {
 background: rgb(133,199,135); 
 // background-position: center center;
 height: 200px;
 width: 200px;
 position: relative;


 .copy_div{
	 position: absolute;
	 top:0px;
	 left:0px;
	 display:none;
 }
 .download_div{
	 position: absolute;
	 top:33px;
	 left:0px;
	 display:none;
 }
}